#topBar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 31px;
    width: 100%;
    background: rgb(41, 41, 61);
    border-bottom: 2px solid rgb(34, 34, 49);
    -webkit-app-region: drag
}
#topBarIcon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: 6px;
    border-radius: 100px;
    background-color: rgb(255, 217, 0);
    display: inline-block;
}
#topBar > ul{
    -webkit-app-region: no-drag;
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
#topBarControls, #topBarWindowControls {
    z-index: 500;
}
#topBar > #topBarControls {
    position: relative;
    left: 7px;
}
#topBar > #topBarWindowControls {
    float: right;
    position: absolute;
    right: 0;
}
#topBar > ul > li {
    -webkit-app-region: no-drag;
    display: inline-block;
    line-height: 30px;
}
#topBar > #topBarControls > li {
    padding: 0 6px;
}
#topBar > ul > li:hover {
    background: rgb(34, 34, 49);
    transition: ease 0.3s;
}
#topBar > ul > li:hover  a {
    color: rgb(255, 217, 0);
    transition: ease 0.3s;
}
#topBar > #topBarTitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 1px;
}
#topBar > #topBarTitle > span {
    color: rgb(163, 163, 163);
    font-size: 11px;
    line-height: 30px;
}
.topBarControlsButton, .topBarWindowControlsButton {
    -webkit-app-region: no-drag;
    color: rgb(163, 163, 163);
    font-size: 12px;
    text-decoration: none;
    cursor: default;
}
.topBarWindowControlsButton {
    -webkit-app-region: no-drag;
    padding: 0 10px;
}

.drop {
    background: rgb(46, 46, 70);
    display: inline-block;
    width: 200px;
    list-style: none;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 31px;
}
#fileDrop {
    left: 33px;
}
#editDrop {
    left: 73px;
}
#helpDrop {
    left: 114px;
}
.dropElement {
    background: rgb(46, 46, 70);
    color: rgb(163, 163, 163);
    font-size: 12px;
    padding: 5px 14px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: default;
}
.dropElement:hover {
    background: rgb(34, 34, 49);
    color: rgb(255, 217, 0);
    transition: ease 0.3s;
}
.dropHorizontalRule {
    width: 90%;
    height: 1px;
    text-align: center;
    background: rgb(61, 61, 87);
    margin: 0 auto;
}
.hiddenDrop {
    display: none !important;
}